#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.Topper {
  background-color: #313131;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.Page{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.EntityList{
  background-color: #313131;
  padding: 1em;
}

.EntityContainer{
  width: 500px;
  border: 2px solid black;
  background-color: #383838;
  margin-top: 1rem;
  padding: 1rem;
}

.ButtonsContainer{
  display: flex;
  justify-content: space-evenly;
}

.FormContainer{
  margin-top: 1rem;
  background-color: #313131;
  padding: 1em;
  margin-bottom: 1em;
  width: 450px;
}

.InputContainer{
  margin: 0.6em
}

.InputContainer>*{
  width: 70%;
  height: 2rem;
  font-size: 1rem;
}

.ShortTextInput{
  width: 70%;
  height: 2rem;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
}

.LongTextInput{
  width: 70%;
  height: 5rem;
  font-size: 1rem;
  word-break: break-word;
  font-family: 'Inter', sans-serif;
}

.ToggleSpan{
  cursor: pointer;
  color: #007bff;
}

.ReturnButton{
  background-color: #313131;
  color: white;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
}

.TimeP{
  font-size: 0.8rem;
  color: #6c757d;
  font-style: italic;
}

.TitleP{
  font-size: 1.1rem;
  font-weight: bold;
  font-style: italic;
  color: white;
}